<h2>Liste des articles</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
      liste des articles
    </div>
    <div class="panel-body">
      <table class="table table-striped" border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>id_sousFamille</th>
             </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles | async">
            <td>{{article.id}}</td>
            <td>{{article.nom}}</td>
            <td>{{article.id_sousFamille}}</td>
            <td>
              <button class="btn btn-danger" (click)="clickdeletearticle(article.id)">delete</button>
              <button class="btn btn-success" (click)="clickeditArticle(article.id)">edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="articleEditId"  class="well">
        <app-intervention-edit [editId]="articleEditId"></app-intervention-edit>
      </div>
    </div>
  </div>
  
