<div class="panel panel-primary">
  <div class="panel-heading">
    liste des interventions
  </div>
  <div class="panel-body">
    <table class="table table-striped" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>DATE PLANIFICATION</th>
          <th>DATE REALISATION</th>
          <th>STATUT</th>
          <th>COMMENTAIRE</th>
          <th>ID INTERVENANT</th>
          <th>ID MATERIEL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let intervention of interventions | async">
          <td>{{intervention.id}}</td>
          <td>{{intervention.date_planification}}</td>
          <td>{{intervention.date_realisation}}</td>
          <td>{{intervention.statut}}</td>
          <td>{{intervention.commentaire}}</td>
          <td>{{intervention.id_intervenant}}</td>
          <td>{{intervention.id_materiel}}</td>
          <td>
            <button class="btn btn-danger" (click)="clickdeleteIntervention(intervention.id)">delete</button>
            <button class="btn btn-success" (click)="clickeditIntervention(intervention.id)">edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="interventionEditId" class="well">
      <app-intervention-edit [editId]="interventionEditId"></app-intervention-edit>
    </div>
  </div>
</div>
